
* {
    font-family: 'Noto Sans TC', sans-serif !important;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6,.btn {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
}

a:hover {
    text-decoration: none;
}

.main-bg {
    display: grid;
    min-height: 100vh;
}

.main-page {
    display: grid;
    align-self: center;
    justify-content: space-around;
}

.tile-container {
    max-width: 50rem;
    display: inline-block;
    width: 100%;
}

.tile-grid {
    display: grid;
    grid-gap: .75rem;
    grid-template-columns: 1fr 1fr 1fr;
    } @media(max-width:576px) {
        .tile-grid {
            grid-template-columns: 1fr;
        }
    } 

.tile {
    border-radius: .75rem;
    display: inline-block;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
    transition: all .3s ease-out;
    } .tile:hover {
        transform: scale(1.05);
        transition: all .3s ease-out;
    }
    

.tile-content {
    z-index: 2;
    position: relative;
}

.tile-after-primary::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(69,130,236,0.7);
    backdrop-filter: blur(5px);
    z-index: 1;
    transition: all .3s ease-out;
    }.tile-after-primary:hover::after {
        background: rgba(0,0,0,0.7);
        transition: all .5s ease-out;
        backdrop-filter: blur(0px);
    }

.tile-after-success::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2,184,117,0.7);
    backdrop-filter: blur(5px);
    z-index: 1;
    transition: all .3s ease;
    }.tile-after-success:hover::after {
        background: rgba(0,0,0,0.7);
        transition: all .5s ease;
        backdrop-filter: blur(0px);
    }

.tile-after-info::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23,162,184,0.7);
    backdrop-filter: blur(5px);
    z-index: 1;
    transition: all .3s ease;
    }.tile-after-info:hover::after {
        background: rgba(0,0,0,0.7);
        transition: all .5s ease;
        backdrop-filter: blur(0px);
    }

.tile-after-danger::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(217,83,79,0.7);
    backdrop-filter: blur(5px);
    z-index: 1;
    transition: all .3s ease;
    }.tile-after-danger:hover::after {
        background: rgba(0,0,0,0.7);
        transition: all .5s ease;
        backdrop-filter: blur(0px);
    }

.file-item {
    transition: all .3s ease-out;
    } .file-item:hover {
        background: rgba(0,0,0,0.1);
    }