
* {
    font-family: 'Public Sans' ,'Noto Sans TC' , sans-serif !important;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Public Sans' ,'Noto Sans TC', sans-serif !important;
    font-weight: 700;
}

.letter-spacing {
    letter-spacing: .25rem;
    margin-left: .25rem;
}

.btn {
    font-family: 'Noto Sans TC', sans-serif !important;
    font-weight: 400;
}

a:hover {
    text-decoration: none;
}

.navbar {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.main-bg {
    display: grid;
    min-height: 100vh;
}

.main-page {
    display: grid;
    align-self: center;
    justify-content: space-around;
}

.tile-container {
    max-width: 50rem;
    display: inline-block;
    width: 100%;
}

.tile-grid {
    display: grid;
    grid-gap: .75rem;
    grid-template-columns: 1fr 1fr 1fr;
    } @media(max-width:576px) {
        .tile-grid {
            grid-template-columns: 1fr;
        }
    } 

.tile {
    border-radius: .75rem;
    display: inline-block;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
    transition: all .3s ease-out;
    } .tile:hover {
        transform: scale(1.05);
        transition: all .3s ease-out;
    }
    

.tile-content {
    z-index: 2;
    position: relative;
}

.tile-after-primary::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(69,130,236,0.7);
    backdrop-filter: blur(5px);
    z-index: 1;
    transition: all .3s ease-out;
    }.tile-after-primary:hover::after {
        background: rgba(0,0,0,0.7);
        transition: all .5s ease-out;
        backdrop-filter: blur(0px);
    }

.tile-after-success::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2,184,117,0.7);
    backdrop-filter: blur(5px);
    z-index: 1;
    transition: all .3s ease;
    }.tile-after-success:hover::after {
        background: rgba(0,0,0,0.7);
        transition: all .5s ease;
        backdrop-filter: blur(0px);
    }

.tile-after-info::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23,162,184,0.7);
    backdrop-filter: blur(5px);
    z-index: 1;
    transition: all .3s ease;
    }.tile-after-info:hover::after {
        background: rgba(0,0,0,0.7);
        transition: all .5s ease;
        backdrop-filter: blur(0px);
    }

.tile-after-danger::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(217,83,79,0.7);
    backdrop-filter: blur(5px);
    z-index: 1;
    transition: all .3s ease;
    }.tile-after-danger:hover::after {
        background: rgba(0,0,0,0.7);
        transition: all .5s ease;
        backdrop-filter: blur(0px);
    }

.file-item {
    position: relative;
    transition: all .3s ease-out;
    } .file-item:hover {
        background: rgba(0,0,0,0.1);
    }

.floating-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    border-radius: 5000px;
    box-shadow: 0px 5px 25px rgba(0,0,0,0.3);
    animation: pop-up .2s ease-out;
}

@keyframes pop-up {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

pre {
    background: var(--dark);
    color: white;
}

code {
    font-family: 'Source Code Pro', monospace !important;
}

.btn-download-in-item {
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    background: rgba(0,0,0,0.6);
    padding: .75rem;
    z-index: 5;
}

#loading {
    background: rgba(255,255,255,0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: block;
    backdrop-filter: blur(5px);
    display: none;
    align-items: center;
    justify-content: center;
}


/* spinner taken from https://tobiasahlin.com/spinkit/ */
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: var(--dark);
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }


.bg-gredient {
    background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
}

  