@tailwind base;
@tailwind components;

:root {
    --thickness-width: 50px;
    --image-width: 1000px;
    --image-height: 700px;

    --scale-width: 50px;
}


* {
    font-family: "Inter", "Noto Sans Tc", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    @apply text-slate-900;
    font-weight: 600;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

body {
    @apply bg-slate-100;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}

.ms-rounded-filled {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}

.btn .material-symbols-rounded-filled,
.btn .material-symbols-rounded {
    font-size: inherit;
}

.btn {
    /* font-family: "Rubik", sans-serif !important; */
    @apply inline-flex flex-wrap rounded-md items-center justify-center py-2 px-4 cursor-pointer;
    gap: 0.5rem;
    font-weight: 500;
    transition: all .15s ease-in-out;
}

.btn::selection,
.material-symbols-rounded::selection {
    background: transparent;
    color: inherit;
}

.btn:disabled {
    filter: grayscale(1);
    opacity: 0.5;
    cursor: auto;
}

.btn:disabled:hover {
    background: transparent !important;
}

.btn:disabled:active {
    transform: scale(1) !important;
}

.btn-primary {
    @apply bg-blue-600 text-white shadow;
}

.btn-primary:hover {
    @apply bg-blue-800;
}

.btn-secondary {
    @apply bg-white text-slate-900 shadow;
}

.btn-secondary:hover {
    @apply bg-slate-200;
}

.btn-dark {
    @apply bg-slate-800 text-white shadow;
}

.btn-dark:hover {
    @apply bg-slate-900;
}

.btn:active {
    transform: scale(0.925);
    transition: all .15s ease-out;
}

.btn-link {
    @apply bg-transparent text-blue-600;
}

.btn-link:hover {
    @apply bg-slate-400/25;
}

.btn-icon {
    @apply text-blue-500;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 0;
    box-shadow: 0px 0px 0px #000;
}

.btn-icon:hover {
    @apply bg-slate-400/25 !important;
}

.btn-icon:active {
    @apply bg-slate-400/25 !important;
}

.btn-tool {
    @apply text-slate-600;
    font-size: 2.5rem;
    width: 3.5rem;
    height: 3.5rem;
    border: 0;
    box-shadow: 0px 0px 0px #000;
    background: transparent;
}

.btn-tool:hover {
    @apply bg-slate-400/25;
}

.btn-tool:active {
    @apply bg-slate-400/25;
}

.btn-group {
    @apply bg-slate-200 p-1 rounded-lg inline-flex gap-1;
}

.btn-tab {
    @apply text-slate-700 text-sm;
    font-weight: 400;
    background: transparent;
}

.btn-tab-container input:checked+.btn-tab {
    @apply bg-white text-slate-900 shadow;
    font-weight: 500;
}

.form-hidden {
    @apply hidden;
    clip: rect(0, 0, 0, 0) !important;
}

.btn-tool-group input:checked+.btn-tool {
    @apply text-blue-600 bg-blue-600/25;
}

.btn-tool-group input:checked+.btn-tool span {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}

.btn-tool-group input:checked+.btn-tool:hover {
    @apply bg-blue-800/25;
}

.btn-tool-group input:checked+.btn-tool:active {
    @apply bg-blue-800/25;
}

.btn-icon-group input:checked+.btn-icon {
    @apply text-blue-600 bg-blue-600/25;
}

.btn-icon-group input:checked+.btn-icon span {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}

.btn-icon-group input:checked+.btn-icon:hover {
    @apply bg-blue-800/25;
}

.btn-icon-group input:checked+.btn-icon:active {
    @apply bg-blue-800/25;
}

.color-selection {
    @apply border-2 border-slate-300;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
    position: relative;
    /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); */
}

.color-selection-del-btn {
    @apply absolute rounded-full flex justify-center items-center;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    background: rgba(0, 0, 0, 0.5);
}

.color-selection-del-btn span {
    @apply text-white;
    font-size: 0.7rem;
}

.color-selection-del-btn:hover {
    background: rgba(0, 0, 0, 0.75);
}

.color-selection-alt {
    width: 2.2rem;
    height: 2.2rem;
    @apply rounded-md border-2 border-slate-300;
    position: relative;
}

.color-selection-active::after {
    content: "";
    background: transparent;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.2rem solid #FFF;
    position: absolute;
    border-radius: 100%;
    top: 0.25rem;
    left: 0.25rem;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

#draw-area {
    @apply p-5 text-center overflow-auto h-screen;
}

#canvas-container {
    @apply shadow rounded-lg relative m-auto;
    width: var(--image-width);
    height: var(--image-height);
    overflow: clip;
    margin: auto;
    transform-origin: 0 0;
    transition: all .2s cubic-bezier(0, .7, .08, .99);
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: transparent;
    transition: all .2s cubic-bezier(0, .7, .08, .99);
}

#canvas-preview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    background-color: transparent;
    transition: all .2s cubic-bezier(0, .7, .08, .99);
}

#canvas-bg {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all .2s cubic-bezier(0, .7, .08, .99);
}

#canvas-pseudo {
    background-color: transparent;
    display: none;
    clip: rect(0, 0, 0, 0) !important;
}

#scale-area {
    @apply bg-slate-100;
}

#tool-area {
    @apply flex justify-between;
    flex-direction: column;
}

#color-choices {
    @apply inline-flex flex-wrap mt-3 gap-3 w-full;
    max-width: 14rem;
}

#color-block {
    background: transparent;
    cursor: crosshair;
    position: relative;
    @apply rounded-lg border-2 border-slate-300 overflow-hidden;
}

#color-bar {
    background: transparent;
    position: relative;
    @apply rounded-lg border-2 border-slate-300 overflow-hidden;
}

.draw {
    cursor: url("images/pencil_tiny.png"), pointer;
}

.erase {
    cursor: url("images/eraser_tiny.png"), pointer;
}

.text {
    cursor: url("images/text_tiny.png"), pointer;
}

.triangle {
    cursor: url("images/triangle_tiny.png"), pointer;
}

.rect {
    cursor: url("images/rect_tiny.png"), pointer;
}

.circle {
    cursor: url("images/circle_tiny.png"), pointer;
}

.rainbow {
    cursor: url("images/rainbow_tiny.png"), pointer;
}

.colorize {
    cursor: url("images/colorize_tiny.png"), pointer;
}

.line {
    cursor: crosshair;
}

*::-webkit-scrollbar {
    background: transparent;
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    @apply bg-slate-700/25;
    border-radius: 100px;
}

*::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-700/50;
    border-radius: 100px;
}

/* *::-moz-scrollbar-thumb {
    @apply bg-slate-700/25;
    border-radius: 100px;
}

*::-moz-scrollbar-thumb:hover {
    @apply bg-slate-900/25;
    border-radius: 100px;
} */

.form-range {
    @apply relative w-full p-0;
    height: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}

.form-range::-moz-focus-outer {
    border: 0;
}

.value-thickness::after {
    content: "";
    @apply bg-blue-600;
    position: absolute;
    left: 0;
    top: 0.5rem;
    width: var(--thickness-width);
    height: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.value-scale::after {
    content: "";
    @apply bg-blue-600;
    position: absolute;
    left: 0;
    top: 0.5rem;
    width: var(--scale-width);
    height: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.form-range::-webkit-slider-thumb {
    @apply bg-blue-600 rounded-full shadow;
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    margin-top: -0.25rem;
    cursor: pointer;
    transition: all .2s ease-out;
}

.form-range::-moz-range-thumb {
    @apply bg-blue-600 rounded-full;
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    margin-top: -0.25rem;
    cursor: pointer;
    transition: all .2s ease-out;
}

.form-range:hover::-moz-range-thumb {
    transform: scale(1.35);
    transition: all .1s ease-out;
}

.form-range:hover::-webkit-slider-thumb {
    transform: scale(1.35);
    transition: all .1s ease-out;
}

.form-range:active::-moz-range-thumb {
    transform: scale(0.8);
    transition: all .1s ease-out;
}

.form-range:active::-webkit-slider-thumb {
    transform: scale(0.8);
    transition: all .1s ease-out;
}

.form-range::-webkit-slider-runnable-track {
    @apply bg-slate-200 rounded-full;
    width: 100%;
    height: 0.5rem;
    cursor: pointer;
}

.form-range::-moz-range-track {
    @apply bg-slate-200 rounded-full;
    width: 100%;
    height: 0.5rem;
    cursor: pointer;
}

.form-range:focus {
    outline: 0;
}

.hidden {
    display: none !important;
}

#tmp-text-input {
    background: transparent;
    position: absolute;
    z-index: 100;
    text-wrap: wrap;
    padding: 0;
    min-width: 15ch;
    line-height: 1.3;
    border: 1px dashed rgba(0, 0, 0, 1);
}

#tmp-text-input:focus {
    background: transparent;
    position: absolute;
    z-index: 100;
    border: 1px dotted rgba(0, 0, 0, 1);
    outline: none;
}

#color-bar-indicator {
    @apply absolute rounded-md bg-white border-2 border-slate-300;
    pointer-events: none;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    position: absolute;
    width: 50px;
    height: 20px;
    cursor: pointer;
    /* transition: all .2s cubic-bezier(0, .7, .08, .99); */
}

#color-block-indicator {
    @apply absolute shadow-xl;
    pointer-events: none;
    width: 15px;
    height: 15px;
    border: 2.5px solid rgba(125, 125, 125, 255);
    border-radius: 100%;
    background-color: transparent;
    cursor: crosshair;
}

.form-input {
    @apply p-2 bg-white rounded-md border-2 border-slate-200;
}

.form-input:focus {
    @apply border-blue-600 outline-none;
}

.form-input-error {
    @apply p-2 rounded-md border-2 border-red-500;
}

#err-msg {
    @apply text-red-500 text-sm;
}

.modal-container {
    @apply fixed w-screen h-screen top-0 p-5 left-0 flex justify-center items-center hidden overflow-auto;
    background: rgba(0, 0, 0, 0.125);
    z-index: 1000;
    backdrop-filter: blur(7px);
    animation: modal-container-in-animation .25s ease-out;
}

@keyframes modal-container-in-animation {
    from {
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
    }

    to {
        background: rgba(0, 0, 0, 0.125);
        backdrop-filter: blur(7px);
    }
}

.modal-container-hidden {
    animation: modal-container-out-animation .25s ease-out;
}

@keyframes modal-container-out-animation {
    from {
        background: rgba(0, 0, 0, 0.125);
        backdrop-filter: blur(7px);
    }

    to {
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
    }
}

.modal {
    @apply bg-white rounded-lg overflow-hidden shadow-lg hidden;
    width: 100%;
    max-width: 400px;
    animation: modal-in-animation .25s cubic-bezier(0, .7, .08, .99);
    margin: auto;
}

.modal-wide {
    max-width: 500px;
}

@keyframes modal-in-animation {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-hidden {
    animation: modal-out-animation .15s cubic-bezier(.58, 0, .99, .62);
}

@keyframes modal-out-animation {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.5);
    }
}

.modal-head {
    @apply p-5 pb-2;
}

.modal-body {
    @apply p-5;
}

.modal-foot {
    @apply p-5 flex gap-5 bg-slate-100;
}

.modal-foot button {
    @apply w-full;
}

input[type=color] {
    width: 50px;
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input[type=color]::-webkit-color-swatch {
    @apply rounded-md border-2 border-slate-200;
}

input[type=color]::-moz-color-swatch {
    @apply rounded-md border-2 border-slate-200;
}

@tailwind utilities;